<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang='en'>
<head>
	<meta httpd-equiv='Content-Type' content='text/html; charset=utf-8'>
	<title>DMS4U | <%= @page_title || 'Public Area' %></title>
	<meta name='author' content='XiangJun Wang'>
	<%= stylesheet_link_tag('public', :media => 'all') %>
</head>
<body>
	<div id='header'>
		<h1>DMS4U</h1>
	</div>

	<div id='main'>
		<div id='navigation'>
		</div>
		<% if !flash[:notice].blank? %>
			<div class='notice'>
				<%= flash[:notice] %>
			</div>
		<% end %>

		<div id='content'>
			<%= yield %>
		</div>
		<div class='clear'></div>
	</div>

	<div id='footer'>
		<p id='copyright'>&copy; Copyright 2014 </p>
	</div>

</body>
</html>
